In [ ]:
print("Hello", "World")

Hello World

In [ ]:
# Using string variable
message = "Hello, World!"
print(message)

Hello, World!

In [ ]:
# Using f-string
print(f"Hello, World!")

Hello, World!

In [ ]:
# Python program to declare variables
myNumber = 3
print(myNumber)

myNumber2 = 4.5
print(myNumber2)

myNumber ="helloworld"
print(myNumber)

3
4.5
helloworld

## DATA TYPES

In [ ]:
a = "Hello World"
b = 50
c = 60.5
d = 3j
e = ["geeks", "for", "geeks"]
f = ("geeks", "for", "geeks")
g = range(10)
h = {"name": "Suraj", "age": 24}
i = {"geeks", "for", "geeks"}
j = frozenset({"geeks", "for", "geeks"})
k = True
l = b"Geeks"
m = bytearray(4)
n = memoryview(bytes(6))
o = None

print("Type of a: ", type(a))
print("Type of b: ", type(b))
print("Type of c: ", type(c))
print("Type of d: ", type(d))
print("Type of e: ", type(e))
print("Type of f: ", type(f))
print("Type of g: ", type(g))
print("Type of h: ", type(h))
print("Type of i: ", type(i))
print("Type of j: ", type(j))
print("Type of k: ", type(k))
print("Type of l: ", type(l))
print("Type of m: ", type(m))
print("Type of n: ", type(n))
print("Type of o: ", type(o))

Type of a:  <class 'str'>
Type of b:  <class 'int'>
Type of c:  <class 'float'>
Type of d:  <class 'complex'>
Type of e:  <class 'list'>
Type of f:  <class 'tuple'>
Type of g:  <class 'range'>
Type of h:  <class 'dict'>
Type of i:  <class 'set'>
Type of j:  <class 'frozenset'>
Type of k:  <class 'bool'>
Type of l:  <class 'bytes'>
Type of m:  <class 'bytearray'>
Type of n:  <class 'memoryview'>
Type of o:  <class 'NoneType'>

## VARIABLES

In [ ]:
Var = "Geeksforgeeks"
print(Var)

Geeksforgeeks

In [ ]:
# valid variable name
geeks = 1
Geeks = 2
Ge_e_ks = 5
_geeks = 6
geeks_ = 7
_GEEKS_ = 8

print(geeks, Geeks, Ge_e_ks)
print(_geeks, geeks_, _GEEKS_)

1 2 5
6 7 8

In [ ]:
# An integer assignment
age = 45

# A floating point
salary = 1456.8

# A string
name = "John"

print(age)
print(salary)
print(name)

45
1456.8
John

In [ ]:
# declaring the var
Number = 100

# display
print("Before declare: ", Number)

# re-declare the var
Number = 120.3

print("After re-declare:", Number)

Before declare:  100
After re-declare: 120.3

#### Python Assign Values to Multiple Variables

In [ ]:
# Eample 1
a = b = c = 10

print(a)
print(b)
print(c)

10
10
10

In [ ]:
# Example 2
a, b, c = 1, 20.2, "GeeksforGeeks"

print(a)
print(b)
print(c)

1
20.2
GeeksforGeeks

##### Can We Use the Same Name for Different Types?

If we use the same name, the variable starts referring to a new value and type.

In [ ]:
a = 40
a = "GFG"

print(a)

GFG

##### How does + operator work with variables?

The Python plus operator + provides a convenient way to add a value if it is a number and concatenate if it is a string. If a variable is already created it assigns the new value back to the same variable.

In [ ]:
a = 20
b = 48
print(a+b)

a = "GF"
b = "f"
print(a+b)

68
GFf

##### Can we use + for different Datatypes also?

No use for different types would produce an error.

In [ ]:
a = 45
b = "GFG"
print(a+b)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
a = 30
b = 40.5
print(a+b) # The answer comes due to upcasting

70.5

#### Global and Local Python Variables
Local variables in Python are the ones that are defined and declared inside a function. We can not call this variable outside the function.

In [ ]:
# This function uses local variable s
def f():
    s = "Welcome geeks"
    print(s)


f()

Global variables in Python are the ones that are defined and declared outside a function, and we need to use them inside a function.

In [ ]:
# This function has a variable with
# name same as s
def f():
    print(s)

# Global scope
s = "I love Geeksforgeeks"
f()

#### Global keyword in Python

In [ ]:
x = 15

def change():

    # using a global keyword
    global x

    # increment value of a by 5
    x = x + 5
    print("Value of x inside a function :", x)


change()
print("Value of x outside a function :", x)

Value of x inside a function : 20
Value of x outside a function : 20

##### How to Use Type Annotations for Variables in Python?
Type annotations in Python provide a way to specify the expected type of a variable. They do not enforce type checking at runtime but can be used by static type checkers, IDEs, and linters to help catch type-related errors.

In [ ]:
#Example:

# Using type annotations
name: str = "Alice"
age: int = 25
is_student: bool = True

def greeting(name: str) -> str:
    return f"Hello, {name}"

# Static type checkers can use these annotations to detect type errors

In this example, the variables name, age, and is_student are annotated with their expected types. The function greeting also has type annotations for its parameter and return type.

## COMMENTS

In [ ]:
# Single line comment


# Multi-line comment
""" Multi-line comment used
print("Python Comments") """

'This will be ignored by Python'

##### Docstring

In [ ]:
def multiply(a, b):
	"""Multiplies the value of a and b"""
	return a*b


# Print the docstring of multiply function
print(multiply.__doc__)

Multiplies the value of a and b

## Taking input

In [ ]:
# Python program showing a use of input()

val = input("Enter your value: ")
print(val)

Enter your value: 12
12

In [ ]:
name = input('What is your name?\n')     # \n ---> newline  ---> It causes a line break
print(name)

What is your name?
14
14

Note : Whatever you enter as input, the input function converts it into a string. if you enter an integer value still input() function converts it into a string. You need to explicitly convert it into an integer in your code using typecasting .

In [ ]:
# Program to check input
# type in Python

num = input ("Enter number :")
print(num)
name1 = input("Enter name : ")
print(name1)

# Printing type of input value
print ("type of number", type(num))
print ("type of name", type(name1))

Enter number :14
14
Enter name : priya
priya
type of number <class 'str'>
type of name <class 'str'>

In [ ]:
# Program to check input
# type in Python

num = int(input ("Enter number :"))
print(num)
name1 = input("Enter name : ")
print(name1)

# Printing type of input value
print ("type of number", type(num))
print ("type of name", type(name1))

Enter number :14
14
Enter name : priya
priya
type of number <class 'int'>
type of name <class 'str'>

In [ ]:
floatNum = float(input("Enter a decimal number: "))
print(floatNum, " ", type(floatNum))

Enter a decimal number: 23.5
23.5   <class 'float'>

##### How to take character input in Python?
You can use the input() function to accept user input. Characters are inherently strings in Python, so no additional conversion is necessary.

In [ ]:
# Input a character
char = input("Enter a character: ")

Enter a character: c

##### How to input time in Python?
You can use the input() function to accept a string input representing time. You can then parse and manipulate this string using datetime functions if needed.

In [ ]:
import datetime
# Input time as string
time_str = input("Enter a time (HH:MM:SS): ")
# Convert string to datetime object
time_obj = datetime.datetime.strptime(time_str, "%H:%M:%S")

Enter a time (HH:MM:SS): 2:40:50

## Type Conversion

#### Implicit type conversion

In [ ]:
x = 10
print("x is of type:",type(x))

y = 10.6
print("y is of type:",type(y))

z = x + y

print(z)
print("z is of type:",type(z))

x is of type: <class 'int'>
y is of type: <class 'float'>
20.6
z is of type: <class 'float'>

#### Explicit type conversion

In [ ]:
# initializing string
s = "10010"

# printing string converting to int base 2
c = int(s,2)
print ("After converting to integer base 2 : ", end="")
print (c)

# printing string converting to float
e = float(s)
print ("After converting to float : ", end="")
print (e)

After converting to integer base 2 : 18
After converting to float : 10010.0

In [ ]:
# initializing integer
s = '4'

# printing character converting to integer
c = ord(s)
print ("After converting character to integer : ",end="")
print (c)

# printing integer converting to hexadecimal string
c = hex(56)
print ("After converting 56 to hexadecimal string : ",end="")
print (c)

# printing integer converting to octal string
c = oct(56)
print ("After converting 56 to octal string : ",end="")
print (c)

After converting character to integer : 52
After converting 56 to hexadecimal string : 0x38
After converting 56 to octal string : 0o70

In [ ]:
# initializing string
s = 'geeks'

# printing string converting to tuple
c = tuple(s)
print ("After converting string to tuple : ",end="")
print (c)

# printing string converting to set
c = set(s)
print ("After converting string to set : ",end="")
print (c)

# printing string converting to list
c = list(s)
print ("After converting string to list : ",end="")
print (c)

After converting string to tuple : ('g', 'e', 'e', 'k', 's')
After converting string to set : {'s', 'k', 'e', 'g'}
After converting string to list : ['g', 'e', 'e', 'k', 's']

In [ ]:
# initializing integers
a = 1
b = 2

# initializing tuple
tup = (('a', 1) ,('f', 2), ('g', 3))

# printing integer converting to complex number
c = complex(1,2)
print ("After converting integer to complex number : ",end="")
print (c)

# printing integer converting to string
c = str(a)
print ("After converting integer to string : ",end="")
print (c)

# printing tuple converting to expression dictionary
c = dict(tup)
print ("After converting tuple to dictionary : ",end="")
print (c)

After converting integer to complex number : (1+2j)
After converting integer to string : 1
After converting tuple to dictionary : {'a': 1, 'f': 2, 'g': 3}

##### Convert ASCII value to characters
chr(number): This function converts a number to its corresponding ASCII character.

In [ ]:
a = chr(76)
b = chr(77)

print(a)
print(b)

L
M