# CONTROL FLOW STATEMENTS

#### if statement

In [ ]:
# if statement example
if 10 > 5:
    print("10 greater than 5")

print("Program ended")

10 greater than 5
Program ended

##### if else statement

In [ ]:
# if..else statement example
x = 3
if x == 4:
    print("Yes")
else:
    print("No")

No

##### Nested if-else

In [ ]:
# if..else chain statement
letter = "A"

if letter == "B":
    print("letter is B")

else:
    if letter == "C":
        print("letter is C")

    else:

        if letter == "A":
            print("letter is A")

        else:
            print("letter isn't A, B and C")

letter is A

##### Nested if statement

In [ ]:
# Nested if statement example
num = 10

if num > 5:
    print("Bigger than 5")

    if num <= 15:
        print("Between 5 and 15")

Bigger than 5
Between 5 and 15

##### if elif statement

In [ ]:
# if-elif statement example
letter = "A"

if letter == "B":
    print("letter is B")

elif letter == "C":
    print("letter is C")

elif letter == "A":
    print("letter is A")

else:
    print("letter isn't A, B or C")

letter is A

### for loops

In [ ]:
# Iterating over a String
print("String Iteration")

s = "Geeks"
for i in s:
    print(i)

String Iteration
G
e
e
k
s

In [ ]:
for i in range(0, 10, 2):
    print(i)

0
2
4
6
8

In [ ]:
l1 = ["eat", "sleep", "repeat"]

for count, ele in enumerate(l1):
    print (count, ele)

0 eat
1 sleep
2 repeat

In [ ]:
for i in range(1, 4):
    for j in range(1, 4):
        print(i, j)

1 1
1 2
1 3
2 1
2 2
2 3
3 1
3 2
3 3

In [ ]:
# Python program to illustrate
# Iterating over a list
l = ["geeks", "for", "geeks"]

for i in l:
    print(i)

geeks
for
geeks

In [ ]:
Numbers =[x for x in range(11)]
print(Numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# Iterating over dictionary
print("Dictionary Iteration")

d = dict()

d['xyz'] = 123
d['abc'] = 345
for i in d:
    print("% s % d" % (i, d[i]))

Dictionary Iteration
xyz  123
abc  345

In [ ]:
# for loop with tuples
t = ((1, 2), (3, 4), (5, 6))
for a, b in t:
    print(a, b)

1 2
3 4
5 6

In [ ]:
fruits = ["apple", "banana", "cherry"]
colors = ["red", "yellow", "green"]
for fruit, color in zip(fruits, colors):
    print(fruit, "is", color)

apple is red
banana is yellow
cherry is green

In [ ]:
# Python program to demonstrate for-else loop

for i in range(1, 4):
    print(i)
else:  # Executed because no break in for
    print("No Break\n")

1
2
3
No Break

Q1. Code to implement Continue statement in for-loop

In [ ]:
clothes = ["shirt", "sock", "pants", "sock", "towel"]
paired_socks = []
for item in clothes:
    if item == "sock":
        continue
    else:
        print(f"Washing {item}")
paired_socks.append("socks")
print(f"Washing {paired_socks}")

Washing shirt
Washing pants
Washing towel
Washing ['socks']

Q2. Code to implement range function in for-loop

In [ ]:
for day in range(1, 8):
    distance = 3 + (day - 1) * 0.5
    print(f"Day {day}: Run {distance:.1f} miles")

Day 1: Run 3.0 miles
Day 2: Run 3.5 miles
Day 3: Run 4.0 miles
Day 4: Run 4.5 miles
Day 5: Run 5.0 miles
Day 6: Run 5.5 miles
Day 7: Run 6.0 miles

### While loop

In [ ]:
# Python program to illustrate
# while loop
count = 0
while (count < 3):
    count = count + 1
    print("Hello Geek")

Hello Geek
Hello Geek
Hello Geek

In [ ]:
age = 28

# the test condition is always True
while age > 19:
    print('Infinite Loop')

In [ ]:
# Python program to demonstrate
# while-else loop

i = 0
while i < 4:
    i += 1
    print(i)
else:  # Executed because no break in for
    print("No Break\n")

i = 0
while i < 4:
    i += 1
    print(i)
    break
else:  # Not executed as there is a break
    print("No Break")

1
2
3
4
No Break

1

While loop with Boolean values

In [ ]:
# Initialize a counter
count = 0

# Loop infinitely
while True:
    # Increment the counter
    count += 1
    print(f"Count is {count}")

    # Check if the counter has reached a certain value
    if count == 10:
        # If so, exit the loop
        break

# This will be executed after the loop exits
print("The loop has ended.")

Count is 1
Count is 2
Count is 3
Count is 4
Count is 5
Count is 6
Count is 7
Count is 8
Count is 9
Count is 10
The loop has ended.

In [ ]:
# checks if list still
# contains any element
a = [1, 2, 3, 4]

while a:
    print(a.pop())

4
3
2
1

Q1. While loop exercise question based on bouncing ball problem

In [ ]:
initial_height = 10
bounce_factor = 0.5
height = initial_height
while height > 0.1:
    print("The ball is at a height of", height, "meters.")
    height *= bounce_factor
print("The ball has stopped bouncing.")

The ball is at a height of 10 meters.
The ball is at a height of 5.0 meters.
The ball is at a height of 2.5 meters.
The ball is at a height of 1.25 meters.
The ball is at a height of 0.625 meters.
The ball is at a height of 0.3125 meters.
The ball is at a height of 0.15625 meters.
The ball has stopped bouncing.

Q2. Simple while-loop exercise code to build countdown clock

In [ ]:
countdown = 10
while countdown > 0:
    print(countdown)
    countdown -= 1
print("Blast off!")

10
9
8
7
6
5
4
3
2
1
Blast off!

### Match-case statement

In [ ]:
# simple match case statement
def runMatch():
    num = int(input("Enter a number between 1 and 3: "))

    # match case
    match num:
        # pattern 1
        case 1:
            print("One")
        # pattern 2
        case 2:
            print("Two")
        # pattern 3
        case 3:
            print("Three")
        # default pattern
        case _:
            print("Number not between 1 and 3")

runMatch()

Enter a number between 1 and 3: 2
Two

In [ ]:
# python match case with OR operator
def runMatch():
    num = int(input("Enter a number between 1 and 6: "))

    # match case
    match num:
        # pattern 1
        case 1 | 2:
            print("One or Two")
        # pattern 2
        case 3 | 4:
            print("Three or Four")
        # pattern 3
        case 5 | 6:
            print("Five or Six")
        # default pattern
        case _:
            print("Number not between 1 and 6")

runMatch()

Enter a number between 1 and 6: 6
Five or Six

In [ ]:
# python match case with if condition
def runMatch():
    num = int(input("Enter a number: "))

    # match case
    match num:
        # pattern 1
        case num if num > 0:
            print("Positive")
        # pattern 2
        case num if num < 0:
            print("Negative")
        # default pattern
        case _:
            print("Zero")

runMatch()

Enter a number: -25
Negative

In [ ]:
# match case to check a character in a string
def runMatch():
    myStr = "Hello World"

    # match case
    match (myStr[6]):
        case "w":
            print("Case 1 matches")
        case "W":
            print("Case 2 matches")
        case _:
            print("Character not in the string")

runMatch()

Case 2 matches

In [ ]:
# python match case with list
def runMatch(mystr):

    # match case
    match mystr:
        # pattern 1
        case ["a"]:
            print("a")
        # pattern 2
        case ["a", *b]:
            print(f"a and {b}")
        # pattern 3
        case [*a, "e"] | (*a, "e"):
            print(f"{a} and e")
        # default pattern
        case _:
            print("No data")

runMatch([])
runMatch(["a"])
runMatch(["a", "b"])
runMatch(["b", "c", "d", "e"])

No data
a
a and ['b']
['b', 'c', 'd'] and e

In [ ]:
# match case with python dictionary
def runMatch(dictionary):
    # match case
    match dictionary:
        # pattern 1
        case {"name": n, "age": a}:
            print(f"Name:{n}, Age:{a}")
        # pattern 2
        case {"name": n, "salary": s}:
            print(f"Name:{n}, Salary:{s}")
        # default pattern
        case _ :
            print("Data does not exist")

runMatch({"name": "Jay", "age": 24})
runMatch({"name": "Ed", "salary": 25000})
runMatch({"name": "Al", "age": 27})
runMatch({})

Name:Jay, Age:24
Name:Ed, Salary:25000
Name:Al, Age:27
Data does not exist

In [ ]:
# match case with python classes
# import dataclass module
from dataclasses import dataclass

#Class 1
@dataclass
class Person:
    name: str
    age: int
    salary: int

# class 2
@dataclass
class Programmer:
    name: str
    language: str
    framework: str

def runMatch(instance):
    # match case
    match instance:
        # pattern 1
        case Programmer("Om", language="Python", framework="Django"):
            print(f"Name: Om, Language:Python, Framework:Django")
        # pattern 2
        case Programmer("Rishabh", "C++"):
            print("Name:Rishabh, Language:C++")
        # pattern 3
        case Person("Vishal", age=5, salary=100):
            print("Name:Vishal")
        # pattern 4
        case Programmer(name, language, framework):
            print(f"Name:{name}, Language:{language}, Framework:{framework}")
        # pattern 5
        case Person():
            print("He is just a person !")
        # default case
        case _:
            print("This person is nothiing!")

programmer1 = Programmer("Om", "Python", "Django")
programmer2 = Programmer("Rishabh", "C++", None)
programmer3 = Programmer("Sankalp", "Javascript", "React")
person1 = Person("Vishal", 5, 100)
runMatch(programmer1)
runMatch(programmer2)
runMatch(person1)
runMatch(programmer3)

Name: Om, Language:Python, Framework:Django
Name:Rishabh, Language:C++
Name:Vishal
Name:Sankalp, Language:Javascript, Framework:React

### break, continue and pass

In [ ]:
# Python program to demonstrate
# break statement

s = 'geeksforgeeks'
# Using for loop
for letter in s:

    print(letter)
    # break the loop as soon it sees 'e' or 's'
    if letter == 'e' or letter == 's':
        break

print("Out of for loop")
print()

i = 0

# Using while loop
while True:
    print(s[i])

    # break the loop as soon it sees 'e'
    # or 's'
    if s[i] == 'e' or s[i] == 's':
        break
    i += 1

print("Out of while loop")

g
e
Out of for loop

g
e
Out of while loop

In [ ]:
# Python program to demonstrate break statement with nested
# for loop

# first for loop
for i in range(1, 5):

    # second for loop
    for j in range(2, 6):

        # break the loop if j is divisible by i
        if j%i == 0:
            break

        print(i, " ", j)

3   2
4   2
4   3

In [ ]:
# Python program to demonstrate continue statement

# loop from 1 to 10
for i in range(1, 11):

    # If i is equals to 6, continue to next iteration without printing
    if i == 6:
        continue
    else:
        # otherwise print the value
        # of i
        print(i, end = " ")

1 2 3 4 5 7 8 9 10

In [ ]:
# Python program to demonstrate
# pass statement

s = "geeks"

# Empty loop
for i in s:
    # No error will be raised
    pass

# Empty function
def fun():
    pass

# No error will be raised
fun()

# Pass statement
for i in s:
    if i == 'k':
        print('Pass executed')
        pass
    print(i)

g
e
e
Pass executed
k
s