# STRINGS

In [ ]:
# Example of string data type in Python
string_0 = "A Computer Science portal for geeks"
print(string_0)
print(type(string_0))

A Computer Science portal for geeks
<class 'str'>

### Create a String in Python
Strings in Python can be created using single quotes or double quotes or even triple quotes.

In [ ]:
# Creating a String
# with single Quotes
String1 = 'Welcome to the Geeks World'
print("String with the use of Single Quotes: ")
print(String1)

# Creating a String
# with double Quotes
String1 = "I'm a Geek"
print("\nString with the use of Double Quotes: ")
print(String1)

# Creating a String
# with triple Quotes
String1 = '''I'm a Geek and I live in a world of "Geeks"'''
print("\nString with the use of Triple Quotes: ")
print(String1)

# Creating String with triple
# Quotes allows multiple lines
String1 = '''Geeks
            For
            Life'''
print("\nCreating a multiline String: ")
print(String1)

String with the use of Single Quotes:
Welcome to the Geeks World

String with the use of Double Quotes:
I'm a Geek

String with the use of Triple Quotes:
I'm a Geek and I live in a world of "Geeks"

Creating a multiline String:
Geeks
            For
            Life

#### Accessing characters in Python string

In [ ]:
String1 = "GeeksForGeeks"
print("Initial String: ", String1)

# Printing First character
print("First character of String is: ", String1[0])

# Printing last character
print("First character of String is: ", String1[-1])

# Printing third character from Last
print("third charcater from Last: ", String1[-3])

Initial String:  GeeksForGeeks
First character of String is:  G
First character of String is:  s
third charcater from Last:  e

#### String slicing

In [ ]:
print(String1[3:12])
print(String1[-12:-3])
print(String1[3:])
print(String1[:12])
print(String1[:])
print(String1[3:-2])
print(String1[3:10:2])

ksForGeek
eeksForGe
ksForGeeks
GeeksForGeek
GeeksForGeeks
ksForGee
kFre

String Reversal

In [ ]:
print(String1[::-1])

skeeGroFskeeG

In [ ]:
# Program to reverse a string

gfg = "geeksforgeeks"

# Reverse the string using reversed and join function
gfg = "".join(reversed(gfg))

print(gfg)

skeegrofskeeg

#### Updating a character in string

In [ ]:
# Python Program to Update
# character of a String

String1 = "Hello, I'm a Geek"
print("Initial String: ")
print(String1)

# Updating a character of the String
## As python strings are immutable, they don't support item updation directly
### there are following two ways
#1
list1 = list(String1)
list1[2] = 'p'
String2 = ''.join(list1)
print("\nUpdating character at 2nd Index: ")
print(String2)

#2
String3 = String1[0:2] + 'p' + String1[3:]
print(String3)

Initial String:
Hello, I'm a Geek

Updating character at 2nd Index:
Heplo, I'm a Geek
Heplo, I'm a Geek

#### Updating Entire String
In Python Programming, As Python strings are immutable in nature, we cannot update the existing string. We can only assign a completely new value to the variable with the same name.

In [ ]:
# Python Program to Update
# entire String

String1 = "Hello, I'm a Geek"
print("Initial String: ")
print(String1)

# Updating a String
String1 = "Welcome to the Geek World"
print("\nUpdated String: ")
print(String1)

Initial String:
Hello, I'm a Geek

Updated String:
Welcome to the Geek World

#### Deleting a character
Python strings are immutable, that means we cannot delete a character from it. When we try to delete thecharacter using the del keyword, it will generate an error.

In [ ]:
# Python Program to delete
# character of a String

String1 = "Hello, I'm a Geek"
print("Initial String: ")
print(String1)

print("Deleting character at 2nd Index: ")
del String1[2]
print(String1)

Initial String:
Hello, I'm a Geek
Deleting character at 2nd Index:

TypeError: 'str' object doesn't support item deletion

But using slicing we can remove the character from the original string and store the result in a new string.

In [ ]:
String2 = String1[0:2] + String1[3:]
print("\nDeleting character at 2nd Index: ")
print(String2)

Deleting character at 2nd Index:
Helo, I'm a Geek

#### Deleting Entire String
In Python Programming, Deletion of the entire string is possible with the use of del keyword. Further, if we try to print the string, this will produce an error because the String is deleted and is unavailable to be printed.

In [ ]:
# Python Program to Delete
# entire String

String1 = "Hello, I'm a Geek"
print("Initial String: ")
print(String1)

# Deleting a String
# with the use of del
del String1
print("\nDeleting entire String: ")
print(String1)

Initial String:
Hello, I'm a Geek

Deleting entire String:

NameError: name 'String1' is not defined

#### Escape Sequencing in Python
While printing Strings with single and double quotes in it causes SyntaxError because String already contains Single and Double Quotes and hence cannot be printed with the use of either of these. Hence, to print such a String either Triple Quotes are used or Escape sequences are used to print Strings.

Escape sequences start with a backslash and can be interpreted differently. If single quotes are used to represent a string, then all the single quotes present in the string must be escaped and the same is done for Double Quotes.

In [ ]:
# Initial String
String1 = '''I'm a "Geek"'''
print("Initial String with use of Triple Quotes: ")
print(String1)

# Escaping Single Quote
String1 = 'I\'m a "Geek"'
print("\nEscaping Single Quote: ")
print(String1)

# Escaping Double Quotes
String1 = "I'm a \"Geek\""
print("\nEscaping Double Quotes: ")
print(String1)

# Printing Paths with the
# use of Escape Sequences
String1 = "C:\\Python\\Geeks\\"
print("\nEscaping Backslashes: ")
print(String1)

# Printing Paths with the
# use of Tab
String1 = "Hi\tGeeks"
print("\nTab: ")
print(String1)

# Printing Paths with the
# use of New Line
String1 = "Python\nGeeks"
print("\nNew Line: ")
print(String1)

Initial String with use of Triple Quotes:
I'm a "Geek"

Escaping Single Quote:
I'm a "Geek"

Escaping Double Quotes:
I'm a "Geek"

Escaping Backslashes:
C:\Python\Geeks\

Tab:
Hi	Geeks

New Line:
Python
Geeks

Example:

To ignore the escape sequences in a String, r or R is used, this implies that the string is a raw string and escape sequences inside it are to be ignored.

In [ ]:
# Printing hello in octal
String1 = "\110\145\154\154\157"
print("\nPrinting in Octal with the use of Escape Sequences: ")
print(String1)

# Using raw String to
# ignore Escape Sequences
String1 = r"This is \110\145\154\154\157"
print("\nPrinting Raw String in Octal Format: ")
print(String1)

# Printing Geeks in HEX
String1 = "This is \x47\x65\x65\x6b\x73 in \x48\x45\x58"
print("\nPrinting in HEX with the use of Escape Sequences: ")
print(String1)

# Using raw String to
# ignore Escape Sequences
String1 = r"This is \x47\x65\x65\x6b\x73 in \x48\x45\x58"
print("\nPrinting Raw String in HEX Format: ")
print(String1)

Printing in Octal with the use of Escape Sequences:
Hello

Printing Raw String in Octal Format:
This is \110\145\154\154\157

Printing in HEX with the use of Escape Sequences:
This is Geeks in HEX

Printing Raw String in HEX Format:
This is \x47\x65\x65\x6b\x73 in \x48\x45\x58

### Python String Formatting

In [ ]:
# Python Program for
# Formatting of Strings

# Default order
String1 = "{} {} {}".format('Geeks', 'For', 'Life')
print("Print String in default order: ")
print(String1)

# Positional Formatting
String1 = "{1} {0} {2}".format('Geeks', 'For', 'Life')
print("\nPrint String in Positional order: ")
print(String1)

# Keyword Formatting
String1 = "{l} {f} {g}".format(g='Geeks', f='For', l='Life')
print("\nPrint String in order of Keywords: ")
print(String1)

Print String in default order:
Geeks For Life

Print String in Positional order:
For Geeks Life

Print String in order of Keywords:
Life For Geeks

Example 2: Integers such as Binary, hexadecimal, etc., and floats can be rounded or displayed in the exponent form with the use of format specifiers.

In [ ]:
# Formatting of Integers
String1 = "{0:b}".format(16)
print("\nBinary representation of 16 is ")
print(String1)

# Formatting of Floats
String1 = "{0:e}".format(165.6458)
print("\nExponent representation of 165.6458 is ")
print(String1)

# Rounding off Integers
String1 = "{0:.2f}".format(1/6)
print("\none-sixth is : ")
print(String1)

Binary representation of 16 is
10000

Exponent representation of 165.6458 is
1.656458e+02

one-sixth is :
0.17

Example 3: In String data type in Python , A string can be left, right, or center aligned with the use of format specifiers, separated by a colon(:). The (<) indicates that the string should be aligned to the left, (>) indicates that the string should be aligned to the right and (^) indicates that the string should be aligned to the center. We can also specify the length in which it should be aligned. For example, (<10) means that the string should be aligned to the left within a field of width of 10 characters.

In [ ]:
# String alignment
String1 = "|{:<10}|{:^10}|{:>10}|".format('Geeks',
                                          'for',
                                          'Geeks')
print("\nLeft, center and right alignment with Formatting: ")
print(String1)

# To demonstrate aligning of spaces
String1 = "\n{0:^16} was founded in {1:<4}!".format("GeeksforGeeks",
                                                    2009)
print(String1)

Left, center and right alignment with Formatting:
|Geeks     |   for    |     Geeks|

 GeeksforGeeks   was founded in 2009!

Explanation:

{0:^16}:

*   0 refers to the first argument in the format() method, which is "GeeksforGeeks"
*   ^16 means the string "GeeksforGeeks" will be centered (^) in a field of 16 characters wide. If "GeeksforGeeks" is shorter than 16 characters, spaces will be added equally on both sides to center the text.


{1:<4}:


*   1 refers to the second argument in the format() method, which is 2009.
*   <4 means the number 2009 will be left-aligned (<) within a field of 4 characters wide. Since 2009 is exactly 4 characters long, no extra spaces will be added.

Example 4: Old-style formatting was done without the use of the format method by using the % operator

In [ ]:
# Python Program for Old Style Formatting of Integers

Integer1 = 12.3456789
print("Formatting in 3.2f format: ")
print('The value of Integer1 is %3.2f' % Integer1)
print("\nFormatting in 3.4f format: ")
print('The value of Integer1 is %3.4f' % Integer1)

Formatting in 3.2f format:
The value of Integer1 is 12.35

Formatting in 3.4f format:
The value of Integer1 is 12.3457

##### Logical Operations in strings

In [ ]:
str1 = ''
str2 = 'geeks'

# repr is used to print the string along with the quotes

# Returns str1
print(repr(str1 and str2))

# Returns str1
print(repr(str2 and str1))

# Returns str2
print(repr(str1 or str2))

# Returns str2
print(repr(str2 or str1))

str1 = 'for'

# Returns str1
print(repr(str1 and str2))

# Returns str1
print(repr(str2 and str1))

# Returns str1
print(repr(str1 or str2))

# Returns str2
print(repr(str2 or str1))

str1='geeks'

# Returns False
print(repr(not str1))

str1 = ''

# Returns True
print(repr(not str1))

''
''
'geeks'
'geeks'
'geeks'
'for'
'for'
'geeks'
False
True

##### Python Modulo String formatting

In [ ]:
# Python program to demonstrate the use of formatting using %

# Initialize variable as a string
variable = '15'
string = "Variable as string = %s" %(variable)
print (string )

# Printing as raw data
print ("Variable as raw data = %r" %(variable))

# Convert the variable to integer
# And perform check other formatting options

variable = int(variable) # Without this the below statement
						# will give error.
string = "Variable as integer = %d" %(variable)
print (string)
print ("Variable as float = %f" %(variable))

# printing as any string or char after a mark
# here i use mayank as a string
print ("Variable as printing with special char = %c" %(variable))

print ("Variable as hexadecimal = %x" %(variable))
print ("Variable as octal = %o" %(variable))

Variable as string = 15
Variable as raw data = '15'
Variable as integer = 15
Variable as float = 15.000000
Variable as printing with special char = 
Variable as hexadecimal = f
Variable as octal = 17

### String Template class in Python

In [ ]:
# A Simple Python template example
from string import Template

# Create a template that has placeholder for value of x
t = Template('x is $x')

# Substitute value of x in above template
print (t.substitute({'x' : 1}))

x is 1

##### Following is another example where we import names and marks of students from a list and print them using template.

In [ ]:
# A Python program to demonstrate the
# working of the string template
from string import Template

# List Student stores the name and marks of three students
Student = [('Ram',90), ('Ankit',78), ('Bob',92)]

# We are creating a basic structure to print the name and
# marks of the students.
t = Template('Hi $name, you have got $marks marks')

for i in Student:
	print (t.substitute(name = i[0], marks = i[1]))

Hi Ram, you have got 90 marks
Hi Ankit, you have got 78 marks
Hi Bob, you have got 92 marks

The below example shows the implementation of the safe_substitute method.

In [ ]:
from string import Template

template = Template('$name is the $job of $company')

string = template.safe_substitute(name='Raju Kumar',
					job='TCE', company = 'XYZ')
print(string)

Raju Kumar is the TCE of XYZ

### String splitting

In [ ]:
line = "Geek1 \nGeek2 \nGeek3"
print(line.split())
print(line.split(' ', 1))  # The second argument 1 specifies the maximum number of splits to be made. In this case, the string will be split only once, resulting in two parts.

['Geek1', 'Geek2', 'Geek3']
['Geek1', '\nGeek2 \nGeek3']

### Python Docstrings

In [ ]:
def my_function():
    '''Demonstrates triple double quotes
    docstrings and does nothing really.'''

    return None

print("Using __doc__:")
print(my_function.__doc__)

print("Using help:")
help(my_function)

Using __doc__:
Demonstrates triple double quotes
    docstrings and does nothing really.
Using help:
Help on function my_function in module __main__:

my_function()
    Demonstrates triple double quotes
    docstrings and does nothing really.

Qus. You are given two strings, input and pattern. Your task is to write a function checkEmpty(input, pattern) that determines whether the input string can be completely emptied by repeatedly removing occurrences of the pattern string.

In [ ]:
def checkEmpty(input, pattern):

	# If both are empty
	if len(input)== 0 and len(pattern)== 0:
		return 'true'

	# If only pattern is empty
	if len(pattern)== 0:
		return 'false'

	while (len(input) != 0):

		# find sub-string in main string
		index = input.find(pattern)

		# check if sub-string founded or not
		if (index ==(-1)):
			return 'false'

		# slice input string in two parts and concatenate
		input = input[0:index] + input[index + len(pattern):]
	return 'true'

# Driver program
if __name__ == "__main__":
	input ='GEEGEEKSKS'
	pattern ='GEEKS'
	print (checkEmpty(input, pattern))

true

Qus. Given a string, find all the duplicate characters which are similar to each other. Let us look at the example.

Examples:

* Input : hello
* Output : l

* Input : geeksforgeeeks
* Output : e g k s

In [ ]:
def find_duplicate(s):
  ans = ""
  for i in range(len(s)):
    if s[i] not in ans:
      ans += s[i] + " "
    else:
      continue
  return ans

s = "geeksforgeeks"
print(find_duplicate(s))

g e k s f o r

Ques. Reverse a string

In [ ]:
# Using for loop
def reverse(s):
    str = ""
    for i in s:
        str = i + str
    return str

s = "Geeksforgeeks"

print("The original string is : ", end="")
print(s)

print("The reversed string(using loops) is : ", end="")
print(reverse(s))

The original string is : Geeksforgeeks
The reversed string(using loops) is : skeegrofskeeG

In [ ]:
#Using Recursion
def reverse(s):
    if len(s) == 0:
        return s
    else:
        return reverse(s[1:]) + s[0]


s = "Geeksforgeeks"

print("The original string is : ", end="")
print(s)

print("The reversed string(using recursion) is : ", end="")
print(reverse(s))

In [ ]:
# Reverse string in Python using an extended slice
def reverse(string):
    string = string[::-1]
    return string

s = "Geeksforgeeks"

print("The original string is : ", end="")
print(s)

print("The reversed string(using extended slice syntax) is : ", end="")
print(reverse(s))

The original string is : Geeksforgeeks
The reversed string(using extended slice syntax) is : skeegrofskeeG

In [ ]:
# Reverse string in Python using reversed() method
# Python code to reverse a string
# using reversed()

# Function to reverse a string
def reverse(string):
    string = "".join(reversed(string))
    return string

s = "Geeksforgeeks"

print("The original string is : ", end="")
print(s)

print("The reversed string(using reversed) is : ", end="")
print(reverse(s))

The original string is : Geeksforgeeks
The reversed string(using reversed) is : skeegrofskeeG

In [ ]:
# Reverse string in Python using list comprehension()
def reverse(string):
    string = [string[i] for i in range(len(string)-1, -1, -1)]
    return "".join(string)

s = "Geeksforgeeks"

print("The original string  is : ", s)

print("The reversed string(using reversed) is : ", reverse(s))

The original string  is :  Geeksforgeeks
The reversed string(using reversed) is :  skeegrofskeeG

#### Python Program to Check if a String is Palindrome or Not

In [ ]:
def check_palindrome(s):
  if s==s[::-1]:
    return True
  else:
    return False

s = "malayalam"

id() function:

id() function is used to return the identity of an object.

In [ ]:
# Python3 program to show that both string hold same identity

string1 = "Hello"
string2 = "Hello"

print(id(string1))
print(id(string2))

134998778982000
134998778982000

In [ ]:
# Modifying a string

string1 = "Hello"

# identity of string1
print(id(string1))

string1 += "World"
print(string1)

# identity of modified string1
print(id(string1))

134998778982000
HelloWorld
134999346639344

String1 is modified which contradict the fact that strings are immutable, but the identity before and after modification are different.It means a new object of the string1 is created after modification which confirms the fact that strings are immutable as no change was made in previous object of string1 rather a new one is created.

### String Methods

In [ ]:
str = "geeksforgeeks is for geeks"
str2 = "geeks"

# using find()
print(str.find(str2))  # gives first occurrence of str2 from starting
print(str.find(str2, 4)) # gives first occurence of str2 from index 4
print(str.rfind(str2)) # gives last occurrence of str2
print(str.rfind(str2, 4)) # gives last occurence of str

0
8
21
21

In [ ]:
str = "geeks"
str1 = "geeksforgeeksportal"

# using startswith() to find if str starts with str1
if str1.startswith(str):
        print ("str1 begins with : " + str)
else : print ("str1 does not begin with : "+ str)

# using endswith() to find if str ends with str1
if str1.endswith(str):
    print ("str1 ends with : " + str)
else :
    print ("str1 does not end with : " + str)

str1 begins with : geeks
str1 does not end with : geeks

In [ ]:
# Python code to demonstrate working of isupper() and islower()
str = "GeeksforGeeks"
str1 = "geeks"

# checking if all characters in str are upper cased
if str.isupper() :
    print ("All characters in str are upper cased")
else :
    print ("All characters in str are not upper cased")

# checking if all characters in str1 are lower cased
if str1.islower() :
    print ("All characters in str1 are lower cased")
else :
    print ("All characters in str1 are not lower cased")

All characters in str are not upper cased
All characters in str1 are lower cased

In [ ]:
# Converting string into its lower case
str1 = str.lower();
print (" The lower case converted string is : " + str1)

# Converting string into its upper case
str2 = str.upper();
print (" The upper case converted string is : " + str2)

# Converting string into its swapped case
str3 = str.swapcase();
print (" The swap case converted string is : " + str3)

# Converting string into its title case
str4 = str.title();
print (" The title case converted string is : " + str4)

# swaps the case of all characters in the string
# upper case character to lowercase and viceversa
print("\nConverted String:")
print(str.swapcase())

# convert the first character of a string to uppercase
print("\nConverted String:")
print(str.capitalize())

# original string never changes
print("\nOriginal String")
print(str)

 The lower case converted string is : geeksforgeeks
 The upper case converted string is : GEEKSFORGEEKS
 The swap case converted string is : gEEKSFORgEEKS
 The title case converted string is : Geeksforgeeks

Converted String:
gEEKSFORgEEKS

Converted String:
Geeksforgeeks

Original String
GeeksforGeeks

In [ ]:
print("length of string is: ", len(str))
print(str.count("geeks", 0, 15))  # checking count of occurrence of geeks starting from 0 ending with 15
print(str.center(20, '*')) # surround the string with a character, 20 represent total length of string
print(str.ljust(20, '*')) # original string shifted to left
print(str.rjust(20, '*')) # original string shifted to right
print(str.zfill(20))

length of string is:  13
0
***GeeksforGeeks****
GeeksforGeeks*******
*******GeeksforGeeks
0000000GeeksforGeeks

In [ ]:
str = "geeksforgeeks"
str1 = "123"

# checks if all characters are alphabets
if(str.isalpha()):
    print("All characters are alphabets")
else:
    print("All characters are not alphabets")

# checks if all characters are digits
if(str1.isdigit()):
    print("All characters are digits")
else:
    print("All characters are not digits")

# checks if all characters are alphanumeric
if(str.isalnum()):
    print("All characters are alphanumeric")
else:
  print("All characters are not alphanumeric")


if(str.isprintable()):
    print("All characters are printable")
else:
    print("All characters are not printable")

# checks if all characters are whitespaces
if(str1.isspace()):
    print("All characters are spaces")
else:
    print("All characters are not spaces")

All characters are alphabets
All characters are digits
All characters are alphanumeric
All characters are printable
All characters are not spaces

In [ ]:
str = "_"
str1 = ("geeks", "for", "geeks")

# # using join() to join sequence str1 with str
print(str.join(str1))

geeks_for_geeks

In [ ]:
# Python code to demonstrate working of
# strip(), lstrip() and rstrip()
str = "---geeksforgeeks---"

# using strip() to delete all '-'
print ( " String after stripping all '-' is : ", end="")
print ( str.strip('-') )

# using lstrip() to delete all trailing '-'
print ( " String after stripping all leading '-' is : ", end="")
print ( str.lstrip('-') )

# using rstrip() to delete all leading '-'
print ( " String after stripping all trailing '-' is : ", end="")
print ( str.rstrip('-') )

 String after stripping all '-' is : geeksforgeeks
 String after stripping all leading '-' is : geeksforgeeks---
 String after stripping all trailing '-' is : ---geeksforgeeks

In [ ]:
# Python code to demonstrate working of
# min() and max()
str = "geeksforgeeks"

# using min() to print the smallest character
# prints 'e'
print ("The minimum value character is : " + min(str))

# using max() to print the largest character
# prints 's'
print ("The maximum value character is : " + max(str))

The minimum value character is : e
The maximum value character is : s

maketrans():- It is used to map the contents of string 1 with string 2 with respective indices to be translated later using translate().

translate():- This is used to swap the string elements mapped with the help of maketrans().

In [ ]:
# Python code to demonstrate working of
# maketrans() and translate()

str = "geeksforgeeks"

str1 = "gfo"
str2 = "abc"

# using maketrans() to map elements of str2 with str1
# Note that maketrans is now a method of the str class
mapped = str.maketrans( str1, str2 )

# using translate() to translate using the mapping
print("The string after translation using mapped elements is : ")
print(str.translate(mapped) )

The string after translation using mapped elements is :
aeeksbcraeeks

In [ ]:
# Python code to demonstrate working of
# replace()

str = "nerdsfornerds is for nerds"

str1 = "nerds"
str2 = "geeks"

# using replace() to replace str2 with str1 in str
# only changes 2 occurrences
print ("The string after replacing strings is : ", end="")
print (str.replace( str1, str2, 2)) # his function has 3 arguments. The string to replace, new string which would replace and max value denoting the limit to replace action ( by default unlimited ).

The string after replacing strings is : geeksforgeeks is for nerds

In [ ]:
# Python code to illustrate expandtabs()
string = 'GEEKS\tFOR\tGEEKS'

# No parameters, by default size is 8
print (string.expandtabs())

# tab size taken as 2
print(string.expandtabs(2))

# tab size taken as 5
print(string.expandtabs(5))

GEEKS   FOR     GEEKS
GEEKS FOR GEEKS
GEEKS     FOR  GEEKS

In [ ]:
# Python String title() method returns a new string after converting the first letter of
# every word to uppercase(capital) and keeping the rest of the letters lowercase.
print("usE stRing title Method".title())

Use String Title Method

Qus Swap commas and dots in a String

In [ ]:
# Method 1: Using maketrans and translate()
def Replace(str1):
    maketrans = str1.maketrans
    final = str1.translate(maketrans(',.', '.,', ' '))
    return final.replace(',', ", ")


# Driving Code
string = "14, 625, 498.002"
print(Replace(string))

14.625.498, 002

In [ ]:
# Method 2: Using replace()
def Replace(str1):
    str1 = str1.replace(', ', 'third')
    str1 = str1.replace('.', ', ')
    str1 = str1.replace('third', '.')
    return str1

string = "14, 625, 498.002"
print(Replace(string))

14.625.498, 002

In [ ]:
# Using split and join
def Replace(str1):
    str1= "$".join(str1.split(', '))
    str1=', '.join(str1.split('.'))
    str1='.'.join(str1.split('$'))
    return str1

string = "14, 625, 498.002"
print(Replace(string))

14.625.498, 002

##### Program to convert String to a List

In [ ]:
# Method 1 : Using list()
s = "geeks for geeks"
l = list(s)
print(l)

['g', 'e', 'e', 'k', 's', ' ', 'f', 'o', 'r', ' ', 'g', 'e', 'e', 'k', 's']

In [ ]:
# Method 2: Using list comrehension
s = "geeks for geeks"
l = [i for i in s]
print(l)

['g', 'e', 'e', 'k', 's', ' ', 'f', 'o', 'r', ' ', 'g', 'e', 'e', 'k', 's']

In [ ]:
# Method 3: Using split() method
s = "geeks for geeks"
s1 = "geeks-for-geeks"
l = s.split()
print(l)
li = s.split(" ")
print(li)
li = s.split("-")
print(li)

['geeks', 'for', 'geeks']
['geeks', 'for', 'geeks']
['geeks for geeks']

In [ ]:
# Method 4 : Using string slicing
def Convert(string):
  list1 = []
  list1[:0] = string
  return list1

# Driver code
s = "ABCD"
print(Convert(s))

['A', 'B', 'C', 'D']

In [ ]:
# Method 5 : Convert String to List using re.findall() method
import re

# Function which uses re.findall method to convert string to list character wise
def Convert(string):
    return re.findall('[a-zA-Z]', string)

# Driver code
str1="ABCD"
print("List of character is : ",Convert(str1))

List of character is :  ['A', 'B', 'C', 'D']

In [ ]:
# Method 6 : Using enumerate method
s="geeks"
x=[i for a,i in enumerate(s) ]
print(x)

['g', 'e', 'e', 'k', 's']

Qus. How do I convert a string to a list without spaces in Python?

To convert a string into a list of words or phrases without spaces, you can use regular expressions (re.split()) to split based on non-alphanumeric characters:

In [ ]:
import re
string = "Hello,world!how-are?you"
word_list = re.split(r'\W+', string)
print(word_list)

# This splits the string string into a list of words based on non-alphanumeric characters (\W+),
# effectively removing spaces and punctuation from consideration.

['Hello', 'world', 'how', 'are', 'you']

##### Count and display vowels in a string

In [ ]:
string = "GeeksforGeeks"
vowels = "aeiouAEIOU"

count = 0
for i in range(len(string)):
  if string[i] in vowels:
    count += 1
print(count)

5

In [ ]:
# Method 2: Counting vowels: regex way
import re
# Count vowels in a different way
# Using re.findall
def Check_Vow(string, vowels):

	# Using re.findall in string
	str_list = re.findall(f'[{vowels}]', string, re.I)

	# printing length of string
	print(len(str_list))

	# Returning the list of matched element
	return str_list

# Driver Code
vowels = 'aeiou'
string = "Geeks for Geeks"
print (Check_Vow(string, vowels))

In [ ]:
# Method 3:
from collections import Counter

def count_and_display_vowels(string):
	vowels = 'aeiouAEIOU'
	vowels_list = filter(lambda c: c in vowels, string)
	count = Counter(vowels_list)
	return count

string = "Geeks for Geeks"
print(count_and_display_vowels(string))

In [ ]:
# Method 4: Counting vowels: recursive function way
#defining recursive function
def Check_Vow(start,string,newlist):
	if start==len(string): #base condition
		return len(newlist),newlist
	if string[start] in ['a','e','i','o','u']: #check whether element is vowel or not
		newlist.append(string[start])
	return Check_Vow(start+1,string,newlist) #recursive calling
#driver code
string = "Geeks for Geeks"
#calling recursive function
res=Check_Vow(0,string,[])
#printing result
print(*res,sep='\n')

5
['e', 'e', 'o', 'e', 'e']

In [ ]:
# Method 5: Counting vowels: Using reduce() and lambda function:
from functools import reduce

def check_vow(string, vowels):
	vowel_list = reduce(lambda x, y: x + [y] if y in vowels else x, string, [])
	print(len(vowel_list))
	print(vowel_list)

string = "Geeks for Geeks"
vowels = "AaEeIiOoUu"
check_vow(string, vowels)

5
['e', 'e', 'o', 'e', 'e']

In [ ]:
def check_validity_password(s):
  l, u, p, d = 0, 0, 0, 0
  if (len(s) >= 8):
    for i in s:
        # counting lowercase alphabets
        if (i.islower()):
            l+=1

        # counting uppercase alphabets
        if (i.isupper()):
            u+=1

        # counting digits
        if (i.isdigit()):
            d+=1

        # counting the mentioned special characters
        if(i=='@'or i=='$' or i=='_'):
            p+=1

    if (l>=1 and u>=1 and p>=1 and d>=1 and l+p+u+d==len(s)):
        print("Valid Password")
    else:
        print("Invalid Password")
  return False

s = "R@m@_f0rtu9e$"
check_validity_password(s)

Valid Password

False

#### String Formatting

1. Python Format String Using the % Operator

In [ ]:
print("The mangy, scrawny stray dog %s gobbled down" %'hurriedly' +
      "the grain-free, organic dog food.")

The mangy, scrawny stray dog hurriedly gobbled downthe grain-free, organic dog food.

In [ ]:
x = 'looked'

print("Misha %s and %s around"%('walked',x))

Misha walked and looked around

In [ ]:
# Precision Handling in Python using % operator
print('The value of pi is: %5.4f' %(3.141592))

# Precision handling in Python using the % operator allows formatting of floating-point numbers with the format %a.bf.
# Here, a sets the minimum width of the output (with padding if needed), and b specifies the number of digits after the decimal point.
# For example, in the string 'The value of pi is: %5.4f', %5.4f formats the number to have a minimum width of 5 characters and 4 decimal places,
# ensuring consistent and precise output.

The value of pi is: 3.1416

In [ ]:
variable = 12
string = "Variable as integer = %d \n\
Variable as float = %f" %(variable, variable)
print (string)

Variable as integer = 12
Variable as float = 12.000000

2. How to Format String using format() Method

In [ ]:
print('We all are {}.'.format('equal'))

We all are equal.

In [ ]:
print('{2} {1} {0}'.format('directions',
                           'the', 'Read'))

Read the directions

In [ ]:
print('a: {a}, b: {b}, c: {c}'.format(a = 1,
                                      b = 'Two',
                                      c = 12.3))

a: 1, b: Two, c: 12.3

In [ ]:
print(
    'The first {p} was alright, but the {p} {p} was tough.'.format(p='second'))

The first second was alright, but the second second was tough.

In [ ]:
print('The valueof pi is: %1.5f' %3.141592)
print('The valueof pi is: {0:1.5f}'.format(3.141592))

The valueof pi is: 3.14159
The valueof pi is: 3.14159

3. Understanding Python f-string

In [ ]:
name = 'Ele'
print(f"My name is {name}.")

My name is Ele.

In [ ]:
#Lambda expression using f-string
print(f"He said his age is {(lambda x: x*2)(3)}")

He said his age is 6

4. Python String Template Class

In [ ]:
from string import Template

n1 = 'Hello'
n2 = 'GeeksforGeeks'

n = Template('$n3 ! This is $n4.')

# and pass the parameters into the
# template string.
print(n.substitute(n3=n1, n4=n2))

Hello ! This is GeeksforGeeks.

5. How to Format String using center() Method

In [ ]:
string = "GeeksForGeeks!"
width = 30

centered_string = string.center(width)

print(centered_string)

        GeeksForGeeks!

### String Concatenation

1. Using + Operator

In [ ]:
var1 = "Hello "
var2 = "Geek"

# + Operator is used to combine strings
var3 = var1 + var2
print(var3)

Hello Geek

2. Using join() Method

In [ ]:
# join() method is used to combine the strings
print("".join([var1, var2]))

# join() method is used here to combine
# the string with a separator Space(" ")
var3 = " ".join([var1, var2])

print(var3)

Hello Geek
Hello  Geek

3. Using ‘%’ Operator

In [ ]:
# % Operator is used here to combine the string
print("% s % s" % (var1, var2))

Hello  Geek

4. Using format() function

In [ ]:
print("{} {}".format(var1, var2))

# store the result in another variable
var3 = "{} {}".format(var1, var2)

print(var3)

Hello  Geek
Hello  Geek

5. using “, ” comma

In [ ]:
var1 = "Geeks"
var2 = "for"
var3 = "Geeks"

# using comma to combine data types
# with a single whitespace.
print(var1, var2, var3)

Geeks for Geeks

6. Using f-string

In [ ]:
name = "GFG"
age = 25

# String concatenation using f-string
greeting = f"Hello, my name is {name} and I am {age} years old."

print(greeting)

Hello, my name is GFG and I am 25 years old.

### Regular Expressions

In [ ]:
import re

s = 'GeeksforGeeks: A computer science portal for geeks'

match = re.search(r'portal', s)

print('Start Index:', match.start())
print('End Index:', match.end())

# This Python code uses regular expressions to search for the word “portal” in the given
# string and then prints the start and end indices of the matched word within the string.

Start Index: 34
End Index: 40

Note: Here r character (r’portal’) stands for raw, not regex. The raw string is slightly different from a regular string, it won’t interpret the \ character as an escape character. This is because the regular expression engine uses \ character for its own escaping purpose.

In [ ]:
s = 'geeks.forgeeks'

# without using \
match = re.search(r'.', s)
print(match)

# using \
match = re.search(r'\.', s)
print(match)

# The first search (re.search(r'.', s)) matches any character, not just the period,
# while the second search (re.search(r'\.', s)) specifically looks for and matches the period character.

<re.Match object; span=(0, 1), match='g'>
<re.Match object; span=(5, 6), match='.'>