# FUNCTION

In [ ]:
# A simple Python function
def fun():
    print("Welcome to GFG")


# Driver code to call a function
fun()

Welcome to GFG

In [ ]:
# Python function with arguments and parameters
def add(num1: int, num2: int) -> int:
    """Add two numbers"""
    num3 = num1 + num2

    return num3

# Driver code
num1, num2 = 5, 15
ans = add(num1, num2)
print(f"The addition of {num1} and {num2} results {ans}.")

The addition of 5 and 15 results 20.

## Arguments in Python Function
### 1. Default Argument

In [ ]:
# Python program to demonstrate
# default arguments
def myFun(x, y=50):
    print("x: ", x)
    print("y: ", y)


# Driver code (We call myFun() with only
# argument)
myFun(10)

x:  10
y:  50

### 2. Keyword Argument

In [ ]:
# Python program to demonstrate Keyword Arguments
def student(firstname, lastname):
    print(firstname, lastname)

# Keyword arguments
student(firstname='Geeks', lastname='Practice')
student(lastname='Practice', firstname='Geeks')

Geeks Practice
Geeks Practice

### 3. Positional Argument

In [ ]:
def nameAge(name, age):
    print("Hi, I am", name)
    print("My age is ", age)


# You will get correct output because
# argument is given in order
print("Case-1:")
nameAge("Suraj", 27)
# You will get incorrect output because
# argument is not in order
print("\nCase-2:")
nameAge(27, "Suraj")

Case-1:
Hi, I am Suraj
My age is  27

Case-2:
Hi, I am 27
My age is  Suraj

### 4. Arbitrary Argument
#### 1. Variable length non-keyword argument

In [ ]:
# Python program to illustrate
# *args for variable number of arguments
def myFun(*argv):
    for arg in argv:
        print(arg)


myFun('Hello', 'Welcome', 'to', 'GeeksforGeeks')

Hello
Welcome
to
GeeksforGeeks

#### 2. Variable length keyword argument

In [ ]:
# Python program to illustrate
# *kwargs for variable number of keyword arguments


def myFun(**kwargs):
    for key, value in kwargs.items():
        print("%s == %s" % (key, value))


# Driver code
myFun(first='Geeks', mid='for', last='Geeks')

first == Geeks
mid == for
last == Geeks

### Python Function within Functions

In [ ]:
# Python program to demonstrate accessing of variables of nested functions

def f1():
    s = 'I love GeeksforGeeks'

    def f2():
        print(s)

    f2()

# Driver's code
f1()

I love GeeksforGeeks

### Anonymous function

In [ ]:
# Python code to illustrate the cube of a number
# using lambda function
def cube(x): return x*x*x

cube_v2 = lambda x : x*x*x

print(cube(7))
print(cube_v2(7))

343
343

### Recursive function
When a function calls itself repreatedly.

In [ ]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n - 1)

print(factorial(4))

24

## Scope of Variable
#### 1. Local Variable

In [ ]:
def f():

	# local variable
	s = "I love Geeksforgeeks"
	print(s)


# Driver code
f()

I love Geeksforgeeks

In [ ]:
# Local variable called outside the scope
def f():

    # local variable
    s = "I love Geeksforgeeks"
    print("Inside Function:", s)

# Driver code
f()
print(s)

Inside Function: I love Geeksforgeeks

NameError: name 's' is not defined

#### 2. Global Variable

In [ ]:
# This function uses global variable s
def f():
	print(s)


# Global scope
s = "I love Geeksforgeeks"
f()

I love Geeksforgeeks

#### Global and local variable with same name

In [ ]:
# This function has a variable with
# name same as s.
def f():
	s = "Me too."
	print(s)

# Global scope
s = "I love Geeksforgeeks"
f()
print(s)

Me too.
I love Geeksforgeeks

In [ ]:
def f():
	print(s)

	# This program will NOT show error
	# if we comment below line.
	s = "Me too."

	print(s)


# Global scope
s = "I love Geeksforgeeks"
f()
print(s)

UnboundLocalError: local variable 's' referenced before assignment

To make the above program work, we need to use global keyword. We only need to use global keyword in a function if we want to do assignments / change them. global is not needed for printing and accessing. Why? Python “assumes” that we want a local variable due to the assignment to s inside of f(), so the first print statement throws this error message. Any variable which is changed or created inside of a function is local, if it hasn’t been declared as a global variable.

In [ ]:
# This function modifies global variable 's'
def f():
	global s
	print(s)
	s = "Look for Geeksforgeeks Python Section"
	print(s)


# Global Scope
s = "Python is great !"
f()
print(s)

Python is great !
Look for Geeksforgeeks Python Section
Look for Geeksforgeeks Python Section

In [ ]:
# Python program to demonstrate
# scope of variable

a = 1

# Uses global because there is no local 'a'
def f():
	print('Inside f() : ', a)

# Variable 'a' is redefined as a local
def g():
	a = 2
	print('Inside g() : ', a)

# Uses global keyword to modify global 'a'
def h():
	global a
	a = 3
	print('Inside h() : ', a)

# Global scope
print('global : ', a)
f()
print('global : ', a)
g()
print('global : ', a)
h()
print('global : ', a)

global :  1
Inside f() :  1
global :  1
Inside g() :  2
global :  1
Inside h() :  3
global :  3

#### Python Nonlocal keyword
In Python, the nonlocal keyword is used in the case of nested functions. This keyword works similarly to the global, but rather than global, this keyword declares a variable to point to the variable of an outside enclosing function, in case of nested functions.

In [ ]:
# Python program to demonstrate
# nonlocal keyword

print("Value of a using nonlocal is : ", end="")


def outer():
	a = 5

	def inner():
		nonlocal a
		a = 10
	inner()
	print(a)


outer()

# demonstrating without non local
# inner loop not changing the value of outer a
# prints 5
print("Value of a without using nonlocal is : ", end="")


def outer():
	a = 5

	def inner():
		a = 10
	inner()
	print(a)


outer()

Value of a using nonlocal is : 10
Value of a without using nonlocal is : 5

## Return statement

In [ ]:
# Python program to
# demonstrate return statement

def add(a, b):

    # returning sum of a and b
    return a + b

def is_true(a):

    # returning boolean of a
    return bool(a)

# calling function
res = add(2, 3)
print("Result of add function is {}".format(res))

res = is_true(2<5)
print("\nResult of is_true function is {}".format(res))

### Returning Multiple Values
#### 1. Using Object: This is similar to C/C++ and Java, we can create a class (in C, struct) to hold multiple values and return an object of the class.

In [ ]:
# A Python program to return multiple
# values from a method using class
class Test:
    def __init__(self):
        self.str = "geeksforgeeks"
        self.x = 20

# This function returns an object of Test
def fun():
    return Test()

# Driver code to test above method
t = fun()
print(t.str)
print(t.x)

geeksforgeeks
20

#### 2. Using Tuple: A Tuple is a comma separated sequence of items. It is created with or without (). Tuples are immutable. See this for details of tuple.

In [ ]:
# A Python program to return multiple
# values from a method using tuple

# This function returns a tuple
def fun():
    str = "geeksforgeeks"
    x = 20
    return str, x;  # Return tuple, we could also
                    # write (str, x)

# Driver code to test above method
str, x = fun() # Assign returned tuple
print(str)
print(x)

#### 3. Using a list: A list is like an array of items created using square brackets. They are different from arrays as they can contain items of different types. Lists are different from tuples as they are mutable.

In [ ]:
# A Python program to return multiple
# values from a method using list

# This function returns a list
def fun():
    str = "geeksforgeeks"
    x = 20
    return [str, x];

# Driver code to test above method
list = fun()
print(list)

['geeksforgeeks', 20]

#### 4. Using a Dictionary: A Dictionary is similar to hash or map in other languages.

In [ ]:
# A Python program to return multiple
# values from a method using dictionary

# This function returns a dictionary
def fun():
    d = dict();
    d['str'] = "GeeksforGeeks"
    d['x']   = 20
    return d

# Driver code to test above method
d = fun()
print(d)

{'str': 'GeeksforGeeks', 'x': 20}

### Function returning another function

In [ ]:
# Python program to illustrate functions
# can return another function

def create_adder(x):
    def adder(y):
        return x + y

    return adder

add_15 = create_adder(15)

print("The result is", add_15(10))

# Returning different function
def outer(x):
    return x * 10

def my_func():

    # returning different function
    return outer

# storing the function in res
res = my_func()

print("\nThe result is:", res(10))

## Recursive Function

In [ ]:
# Recursive Function to calculate Factorial of a number
def factorial(n):
    # Base case
    if n == 0:
        return 1

    # Recursive case
    return n * factorial(n - 1)

# Driver Code
if __name__ == "__main__":
    n = 4

    print("Factorial of", n, "is:", factorial(n))

## Lambda Function

In [ ]:
str1 = 'GeeksforGeeks'

upper = lambda string: string.upper()
print(upper(str1))

GEEKSFORGEEKS

In [ ]:
format_numeric = lambda num: f"{num:e}" if isinstance(num, int) else f"{num:,.2f}"

print("Int formatting:", format_numeric(1000000))
print("float formatting:", format_numeric(999999.789541235))

Int formatting: 1.000000e+06
float formatting: 999,999.79

In [ ]:
# difference between lambda function and def function
def cube(y):
    return y*y*y

lambda_cube = lambda y: y*y*y
print("Using function defined with `def` keyword, cube:", cube(5))
print("Using lambda function, cube:", lambda_cube(5))

Using function defined with `def` keyword, cube: 125
Using lambda function, cube: 125

In [ ]:
# Lambda function with list comprehension

is_even_list = [lambda arg=x: arg * 10 for x in range(1, 5)]
for item in is_even_list:
    print(item())

10
20
30
40

In [ ]:
# Python Lambda Function with if-else
# Here we are using the Max lambda function to find the maximum of two integers.
Max = lambda a, b : a if(a > b) else b
print(Max(1, 2))

2

In [ ]:
# lambda with multiple statements
List = [[2,3,4],[1, 4, 16, 64],[3, 6, 9, 12]]

sortList = lambda x: (sorted(i) for i in x)
secondLargest = lambda x, f : [y[len(y)-2] for y in f(x)]
res = secondLargest(List, sortList)

print(res)

[3, 16, 9]

#### Filter all people having age more than 18, using lambda and filter() function
The code filters a list of ages and extracts the ages of adults (ages greater than 18) using a lambda function and the ‘filter' function. It then prints the list of adult ages. The output displays the ages of individuals who are 18 years or older.numbers that generated False.

In [ ]:
ages = [13, 90, 17, 59, 21, 60, 5]
adults = list(filter(lambda age: age > 18, ages))

print(adults)

[90, 59, 21, 60]

### Using lambda() Function with map()
The map() function in Python takes in a function and a list as an argument. The function is called with a lambda function and a list and a new list is returned which contains all the lambda-modified items returned by that function for each item. Example:

#### Multiply all elements of a list by 2 using lambda and map() function

In [ ]:
li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]

final_list = list(map(lambda x: x*2, li))
print(final_list)

[10, 14, 44, 194, 108, 124, 154, 46, 146, 122]

### Using lambda() Function with reduce()
The reduce() function in Python takes in a function and a list as an argument. The function is called with a lambda function and an iterable and a new reduced result is returned. This performs a repetitive operation over the pairs of the iterable. The reduce() function belongs to the functools module.

#### A sum of all elements in a list using lambda and reduce() function

In [ ]:
from functools import reduce
li = [5, 8, 10, 20, 50, 100]
sum = reduce((lambda x, y: x + y), li)
print(sum)

193

Find the maximum element in a list using lambda and reduce() function

In [ ]:
import functools
lis = [1, 3, 5, 6, 2, ]
print("The maximum element of the list is : ", end="")
print(functools.reduce(lambda a, b: a if a > b else b, lis))

The maximum element of the list is : 6

## MAp() function

In [ ]:
# Python program to demonstrate working
# of map.

# Return double of n
def addition(n):
    return n + n

# We double all numbers using map()
numbers = (1, 2, 3, 4)
result = map(addition, numbers)
print(list(result))

[2, 4, 6, 8]

In [ ]:
# Double all numbers using map and lambda

numbers = (1, 2, 3, 4)
result = map(lambda x: x + x, numbers)
print(list(result))

[2, 4, 6, 8]

In [ ]:
# Add two lists using map and lambda

numbers1 = [1, 2, 3]
numbers2 = [4, 5, 6]

result = map(lambda x, y: x + y, numbers1, numbers2)
print(list(result))

[5, 7, 9]

Modify the string using map()

In [ ]:
# List of strings
l = ['sat', 'bat', 'cat', 'mat']

# map() can listify the list of strings individually
test = list(map(list, l))
print(test)

[['s', 'a', 't'], ['b', 'a', 't'], ['c', 'a', 't'], ['m', 'a', 't']]

## filter() function

In [ ]:
# function that filters vowels
def fun(variable):
    letters = ['a', 'e', 'i', 'o', 'u']
    if (variable in letters):
        return True
    else:
        return False


# sequence
sequence = ['g', 'e', 'e', 'j', 'k', 's', 'p', 'r']

# using filter function
filtered = filter(fun, sequence)

print('The filtered letters are:')
for s in filtered:
    print(s)

The filtered letters are:
e
e

In [ ]:
# Filter Function in Python with Lambda
# a list contains both even and odd numbers.
seq = [0, 1, 2, 3, 5, 8, 13]

# result contains odd numbers of the list
result = filter(lambda x: x % 2 != 0, seq)
print(list(result))

# result contains even numbers of the list
result = filter(lambda x: x % 2 == 0, seq)
print(list(result))

[1, 3, 5, 13]
[0, 2, 8]