# LIST

In [ ]:
List = []
print("Initial list: ", List)

print(len(List))  # size of list

Initial list:  []
0

In [ ]:
List2 = [10, 20, 14]
print("List2: ", List2)

List2:  [10, 20, 14]

In [ ]:
List3 = ["Geeks", "For", "Geeks"]
print("\nList3 Items: ")
print(List3[0])  # Accessing elements from list
print(List3[2])

List3 Items:
Geeks
Geeks

In [ ]:
List4 = [1, 2, 'Geeks', 4, 'For', 6, 'Geeks']
print("\nList4 with the use of Mixed Values: ")
print(List4)

print(len(List4))
print(List4[-2])  # Negative indexing

List4 with the use of Mixed Values:
[1, 2, 'Geeks', 4, 'For', 6, 'Geeks']
7
6

In [ ]:
List5 = [['Geeks', 'For'], ['Geeks']]  # Multidimensional list


print("Accessing a element from a Multi-Dimensional list")
print(List5[0])
print(List5[0][1])
print(List5[1][0])

Accessing a element from a Multi-Dimensional list
['Geeks', 'For']
For
Geeks

In [ ]:
#Taking input of Python List
# input the list as string
string = input("Enter elements (Space-Separated): ")

# split the strings and store it to a list
lst = string.split()
print('The list is:', lst)   # printing the list

Enter elements (Space-Separated): 4 geeks gfgf
The list is: ['4', 'geeks', 'gfgf']

In [ ]:
# input size of the list
n = int(input("Enter the size of list : "))

# store integers in a list using map,
# split and strip functions
lst = list(map(int, input("Enter the integer\
elements:").strip().split()))[:n]

# printing the list
print('The list is:', lst)

Enter the size of list : 5
Enter the integerelements:1 2 5 6
The list is: [1, 2, 5, 6]

In [ ]:
List = []
List.append(1)
List.append(2)
List.append((4, 5))
print("\nList after Addition of Three elements: ", List)


# Using iterator
for i in range(1, 4):
    List.append(i)
print("\nList after Addition of elements from 1-3: ", List)

# using insert method
List.insert(3, 12)
List.insert(0, 'Geeks')
print("\nList after performing Insert Operation: ")
print(List)

List.extend([8, 'Geeks', 'Always'])
print("\nList after performing Extend Operation: ")
print(List)

# Note: append() and extend() methods can only add elements at the end.

List after Addition of Three elements:  [1, 2, (4, 5)]

List after Addition of elements from 1-3:  [1, 2, (4, 5), 1, 2, 3]

List after performing Insert Operation:
['Geeks', 1, 2, (4, 5), 12, 1, 2, 3]

List after performing Extend Operation:
['Geeks', 1, 2, (4, 5), 12, 1, 2, 3, 8, 'Geeks', 'Always']

In [ ]:
# Reversing a list
mylist = [1, 2, 3, 4, 5, 'Geek', 'Python']
mylist.reverse()
print(mylist)

# Reversing a list using slicing
mylist = mylist[::-1]
print(mylist)

#using reversed() function
reversed_list = list(reversed(mylist))
print(reversed_list)

['Python', 'Geek', 5, 4, 3, 2, 1]
[1, 2, 3, 4, 5, 'Geek', 'Python']
['Python', 'Geek', 5, 4, 3, 2, 1]

In [ ]:
mylist = [1, 2, 3, 4, 5, 'Geek', 'Python']

# Removing element from list
# using Remove() method
mylist.remove(5)
mylist.remove("Geek")
print("\nList after Removal of two elements: ")
print(mylist)

#using iterator
for i in range(1, 4):
    mylist.remove(i)
print("\nList after Removing a range of elements: ")
print(List)


# Using pop() method
mylist.pop()
print("\nList after popping an element: ")
print(mylist)

# Using clear() method
mylist.clear()
print("\nList after clearing the list: ")
print(mylist)
# Note: Remove method in List will only remove the first occurrence of the searched element.

List after Removal of two elements:
[1, 2, 3, 4, 'Python']

List after Removing a range of elements:
['Geeks', (4, 5), 12, 8, 'Geeks', 'Always']

List after popping an element:
[4]

List after clearing the list:
[]

In [ ]:
# Slicing
List = ['G', 'E', 'E', 'K', 'S', 'F',
        'O', 'R', 'G', 'E', 'E', 'K', 'S']
print("Initial List: ")
print(List)

# Print elements of a range
# using Slice operation
Sliced_List = List[3:8]
print("\nSlicing elements in a range 3-8: ")
print(Sliced_List)

# Print elements from a
# pre-defined point to end
Sliced_List = List[5:]
print("\nElements sliced from 5th "
      "element till the end: ")
print(Sliced_List)

# Printing elements from
# beginning till end
Sliced_List = List[:]
print("\nPrinting all elements using slice operation: ")
print(Sliced_List)


Sliced_List = List[:-6]
print("\nElements sliced till 6th element from last: ")
print(Sliced_List)


Sliced_List = List[-6:-1]
print("\nElements sliced from index -6 to -1")
print(Sliced_List)

Initial List:
['G', 'E', 'E', 'K', 'S', 'F', 'O', 'R', 'G', 'E', 'E', 'K', 'S']

Slicing elements in a range 3-8:
['K', 'S', 'F', 'O', 'R']

Elements sliced from 5th element till the end:
['F', 'O', 'R', 'G', 'E', 'E', 'K', 'S']

Printing all elements using slice operation:
['G', 'E', 'E', 'K', 'S', 'F', 'O', 'R', 'G', 'E', 'E', 'K', 'S']

Elements sliced till 6th element from last:
['G', 'E', 'E', 'K', 'S', 'F', 'O']

Elements sliced from index -6 to -1
['R', 'G', 'E', 'E', 'K']

In [ ]:
# List Comprehension
# below list contains square of all
# odd numbers from range 1 to 10
odd_square = [x ** 2 for x in range(1, 11) if x % 2 == 1]
print(odd_square)

In [ ]:
# Change list items
List=[ 10, 20, 30, 40, 50, 60]
print("original list ")
print(List)

List[0] = 11
List[1] = 21
List[ -1] = 61

print("\nNew list")
print(List)


# using loop
for i in range(len(List)):
    List[i] = List[i] + 2

print(List)


# using list comprehension
print("After incrementing each element of list by 2")
List_2=[ i+2 for i in List_1]

print(List_2)

original list
[10, 20, 30, 40, 50, 60]

New list
[11, 21, 30, 40, 50, 61]
[13, 23, 32, 42, 52, 63]

In [ ]:
# If some slicing expressions are made that do not make sense or are incomputable then empty lists are generated.

# Display sliced list
print(List[10::2])

# Display sliced list
print(List[1:1:1])

# Display sliced list
print(List[-1:-1:-1])

# Display sliced list
print(List[:0:])

[]
[]
[]
[]

In [ ]:
List = [-999, 'G4G', 1706256, 3.1496, '^_^']

print("\nSliced Lists: ")
# Modified List
List[2:4] = ['Geeks', 'for', 'Geeks', '!']

# Display sliced list
print(List)

# Modified List
List[:6] = []

# Display sliced list
print(List)

Sliced Lists:
[-999, 'G4G', 'Geeks', 'for', 'Geeks', '!', '^_^']
['^_^']

In [ ]:
List = [1, 2, 3, 4, 5, 6, 7, 8, 9]
# Creating new List
newList = List[:3]+List[7:]
print(newList)

# Changing existing List
List = List[::2]+List[1::2]

# Display sliced list
print(List)

[1, 2, 3, 8, 9]
[1, 3, 5, 7, 9, 2, 4, 6, 8]

## List Methods

In [ ]:
List = [1, 2, 3, 4, 5]
print(sum(List))
print(min(List))
print(max(List))
List.sort(reverse=True)
print(List)
List.reverse()
print(List)
print(List.pop())
print(List.pop(0))
del List[0]
print(List)
List.remove(3)
print(List)

15
1
5
[5, 4, 3, 2, 1]
[1, 2, 3, 4, 5]
5
1
[3, 4]
[4]

In [ ]:
List = ['gfg', 'abc', 3]
print(sum(List))

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
List = [1, 2, 3, 1, 2, 1, 2, 3, 2, 1]
print(List.count(1))

4

In [ ]:
List = [1, 2, 3, 1, 2, 1, 2, 3, 2, 1]
print(List.index(2))
# Returns the index of the first occurrence. The start and end indexes are not necessary parameters.

1

In [ ]:
List = [1, 2, 3, 1, 2, 1, 2, 3, 2, 1]
print(List.index(2, 2))
# In this example, we are using index() method which is one of the list functions in Python,
# searching the first occurrence of the element 2, starting from index 2 in the list.

4

In [ ]:
#matrix using list comprehension
matrix = [[j for j in range(3)] for i in range(3)]

print(matrix)

[[0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [ ]:
# List comprehension and Lambda
# using lambda to print table of 10
numbers = []

for i in range(1, 6):
	numbers.append(i*10)

print(numbers)

[10, 20, 30, 40, 50]

In [ ]:
lis = ["Even number" if i % 2 == 0
	else "Odd number" for i in range(8)]
print(lis)

['Even number', 'Odd number', 'Even number', 'Odd number', 'Even number', 'Odd number', 'Even number', 'Odd number']

In [ ]:
lis = [num for num in range(100)
	if num % 5 == 0 if num % 10 == 0]
print(lis)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [ ]:
# Initializing string
string = 'Geeks4Geeks'

# Toggle case of each character
List = list(map(lambda i: chr(ord(i) ^ 32), string))

# Display list
print(List)

['g', 'E', 'E', 'K', 'S', '\x14', 'g', 'E', 'E', 'K', 'S']

In [ ]:
# Reverse each string in tuple
List = [string[::-1] for string in ('Geeks', 'for', 'Geeks')]

# Display list
print(List)

['skeeG', 'rof', 'skeeG']

In [ ]:
# Creating a list of Tuples from two separate Lists
names = ["G", "G", "g"]
ages = [25, 30, 35]
person_tuples = [(name, age) for name, age in zip(names, ages)]
print(person_tuples)

[('G', 25), ('G', 30), ('g', 35)]

In [ ]:
# Finding word length exercise question using list comprehension
words = ["apple", "banana", "cherry", "orange"]
word_lengths = [len(word) for word in words]
print(word_lengths)

[5, 6, 6, 6]